In [1]:
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import pandas as pd

In [2]:
user_char = pd.read_csv('../data/user_character400.csv',encoding='utf-8')

In [3]:
data = []
for r in user_char.iterrows():
    row = r[1]
    d = [row['neg'],row['pos'],row['neu']]
    data.append(d)

In [4]:
from sklearn.cluster import KMeans

model = KMeans(n_clusters=3)
model.fit(data)
# 分类中心点坐标
centers = model.cluster_centers_
# 预测结果
result = model.predict(data)

In [5]:
user_char['clu_result'] = result
neg_mean = user_char.groupby('clu_result')['neg'].mean()
pos_mean = user_char.groupby('clu_result')['pos'].mean()
neu_mean =user_char.groupby('clu_result')['neu'].mean()
print(neg_mean,pos_mean,neu_mean)

clu_result
0    0.074559
1    0.656767
2    0.043663
Name: neg, dtype: float64 clu_result
0    0.063187
1    0.102887
2    0.766098
Name: pos, dtype: float64 clu_result
0    0.862253
1    0.240346
2    0.190239
Name: neu, dtype: float64

In [6]:
user_char.loc[user_char['clu_result'] == 1,'clu_result'] = -1

In [7]:
user_char.loc[user_char['clu_result'] == 2,'clu_result'] = 1

In [8]:
user_char[:10]

,portrait,neg,pos,neu,total,topic,clu_result
0,tb.1.225b909b.j-KMbfnKUjVoksaJCqZZ6Q,0.181102,0.174803,0.644094,635,"(0.11721858689214, 0.06206196841289886, 0.0738...",0
1,tb.1.6be57e9d.F2fkk-Cm6I8V4WL23ex56w,0.204861,0.243056,0.552083,288,"(0.16886174041750357, 0.2992308412410692, 0.15...",0
2,tb.1.7ceb4216.7qz6hLqkUgbGmX0ceEld_A,0.431452,0.221774,0.346774,248,"(0.18161645154022316, 0.1089308643235764, 0.17...",-1
3,tb.1.b0e06cc0.PQvHYrNMVczY_jFEdgMHjQ,0.058559,0.621622,0.319820,222,"(0.008103267550440517, 0.018436867372107885, 0...",1
4,tb.1.f072c039.gBSorBxdgO6l35A2ao3q9Q,0.281879,0.120805,0.597315,149,"(0.15680010792931406, 0.15870686087200525, 0.1...",0
5,tb.1.33f04bd0.4hC4FbKVO9Vouc0rENIjGQ,0.312500,0.241071,0.446429,112,"(0.0770397784845803, 0.16946891713617943, 0.15...",-1
6,tb.1.851fc9b1.GqqIFUNwvKciulc-kvuEdA,0.265823,0.202532,0.531646,79,"(0.16984194680995135, 0.08634767455654445, 0.2...",0
7,tb.1.e9b1be6b.owTpithgI6SFqUELz_xAdQ,0.200000,0.369231,0.430769,65,"(0.24648747897778683, 0.12158566591519424, 0.1...",1
8,tb.1.b534e864.snS1QP8fx7_AY9A8e3q5oQ,0.517241,0.086207,0.396552,58,"(0.18800209279944424, 0.3038451395129657, 0.20...",-1
9,tb.1.e4d69428.0cGlHDk1Td9DD5-sLETF0w,0.396552,0.224138,0.379310,58,"(0.11231961974928109, 0.2843751247366755, 0.20...",-1

In [9]:
user_char.to_csv('../data/user_character400.csv',encoding='utf-8',index=False)

In [2]:
import pandas as pd
df = pd.read_csv('../data/user_character400.csv',encoding='utf-8')
df.groupby(by = 'clu_result')['neg'].describe()

            count      mean       std       min  25%  50%       75%    max
clu_result
-1          141.0  0.656767  0.260587  0.264151  0.5  0.5  1.000000  1.000
 0          169.0  0.074559  0.120155  0.000000  0.0  0.0  0.166667  0.400
 1           90.0  0.043663  0.095806  0.000000  0.0  0.0  0.000000  0.375

In [3]:
df.groupby(by = 'clu_result')['pos'].describe()

            count      mean       std       min  25%  50%       75%       max
clu_result
-1          141.0  0.102887  0.160788  0.000000  0.0  0.0  0.200000  0.500000
 0          169.0  0.063187  0.110386  0.000000  0.0  0.0  0.111111  0.352941
 1           90.0  0.766098  0.248969  0.369231  0.5  1.0  1.000000  1.000000

In [4]:
df.groupby(by = 'clu_result')['neu'].describe()

,count,mean,std,min,25%,50%,75%,max
clu_result,,,,,,,,
-1,141.0,0.240346,0.220662,0.000000,0.000000,0.28,0.500000,0.571429
0,169.0,0.862253,0.187694,0.469388,0.666667,1.00,1.000000,1.000000
1,90.0,0.190239,0.218143,0.000000,0.000000,0.00,0.428571,0.500000

In [5]:
df.groupby(by = 'clu_result')['total'].describe()

            count       mean        std  min  25%  50%  75%    max
clu_result
-1          141.0   7.971631  24.198566  1.0  1.0  2.0  5.0  248.0
 0          169.0  11.343195  54.862062  1.0  1.0  2.0  5.0  635.0
 1           90.0   6.277778  24.400234  1.0  1.0  2.0  3.0  222.0

In [ ]:
# colors = ['g','r','b']
# fig = plt.figure(figsize=(8, 6), dpi=800)
# ax = fig.add_subplot(111,projection = '3d')
#
# for p in range(len(user_char['clu_result'])):
#     ax.scatter(data[p][0],data[p][1],data[p][2],c = colors[user_char['clu_result'][p]])
# ax.set_xlabel('negative')
# ax.set_ylabel('positive')
# ax.set_zlabel('neural')
# plt.savefig('user_clustering.png')
# plt.show()